/* For all site */
body{
    margin: 0 auto;
    background-color: #181818;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/* Container */
.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

/* Heder */
.header{ 
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    background-color: black;
}

.a{
    text-decoration: none;
    color: #cacaca;
}


.ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-a-li{
    text-decoration: none;
    color: #cacaca;
}

.nav-a-li:hover{
    color: #2A4B81;
}

.logo{
    display: flex;
    align-items: center;
    color: aliceblue;
}

.navbar-li{
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    padding-right: 35px;
    text-align: center;
}

.navbar-li:last-child{
    padding: 0;
}

/* Intro */
.intro{
    width: 100%;
    margin: 0 auto;
    height: 1022px;
    background: url(/resources/intro.png);
    background-repeat: no-repeat;
    
}

/* https://raw.githubusercontent.com/Sk1ttl9s/Wednesday/main/resources/intro.png */